html {
    border: 0px !important;
    box-shadow: none !important;
}

ion-icon {
    pointer-events: none; /* Disable default tooltip */
}

nav a {
    border-bottom: 0px; /* Hide the underline */
}

nav div {
     margin: 0px !important;
}

nav div div ul {
    margin: 0px !important; /* Remove the top margin for the nav items */
}

.navbutton {
    padding: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

.card {
    box-shadow: none;
}

.no-border {
    border: 0;
    border-radius: 0;
}

.banner-overlay {
    position: absolute;
    top: 0;
    right: 0;
}

.album-swiper {
    padding-bottom: 40px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}

dialog {
    position: fixed;
    margin: 0;
    padding: 0;
    border: none;
    width: 800px;
    height: 480px;
    max-width: none;
    max-height: none;
    top: 0;
    right: 0;
    /* left: auto;
    background-color: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.1s cubic-bezier(0.2, 0, 0.38, 0.9); */
}